<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit your post</title>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<h3>Edit your post</h3>
<form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="post">
    <label>Title
        <input th:type="text" th:name="title" th:id="title" th:value="${post.title}">
    </label>

    <label>Description:
        <input th:type="text" th:name="body" th:id="body" th:value="${post.body}">
    </label>

    <label>
        <input th:type="submit">
    </label>
</form>
<footer th:include="partials/partials :: footer"></footer>
</body>
</html>