<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<form th:action="${action}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}"/>
    <br/>
    Description:
    <input th:field="*{body}">
    <br/>
    <input type="submit"/>
</form>
<footer th:include="partials/partials :: footer"></footer>
</body>
</html>