<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/partials :: head">
    <meta charset="UTF-8">
    <title>Single Post</title>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<h3 th:text="${post.title}"></h3>
<p th:text="${post.body}"></p>
<span th:text="${user.email}"></span>

<form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="get">
    <input th:type="submit" th:value="Edit">
</form>

<form th:action="@{/posts/{id}/delete(id=${post.id})}" th:method="post">
    <input th:type="submit" th:value="Delete">
</form>
<footer th:include="partials/partials :: footer"></footer>
</body>
</html>