<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6fa36e9c98.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">

</head>
<body>
<nav class="navbar navbar-expand-lg row justify-content-between" th:fragment="navbar">
    <div class="row align-items-center ml-3">
        <a class="navbar-brand" href="/posts">Another Blog</a>
        <form th:method="get" th:action="@{/posts}">
            <input class="m-0 rounded" type="text" name="search" placeholder="Search">
            <button class="search" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-3">
            <a sec:authorize="!isAuthenticated()" class="nav-item nav-link" th:href="@{/sign-up}">Sign Up</a>
            <a sec:authorize="!isAuthenticated()" class="nav-item nav-link" th:href="@{/login}">Login</a>

            <span class="nav-item nav-link" sec:authorize="isAuthenticated()">Hello, <span th:text="${#authentication.principal.username}"></span>!</span>
            <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/posts/create}">New Post <i class="fas fa-plus-circle"></i></a>
            <form th:action="@{/profile}" th:method="get">
                <button sec:authorize="isAuthenticated()" class="logout nav-item nav-link">Profile</button>
            </form>
            <form th:action="@{/logout}" th:method="post">
                <button sec:authorize="isAuthenticated()" class="logout nav-item nav-link">Logout</button>
            </form>
        </div>
    </div>
</nav>

<!--    <div sec:authorize="isAuthenticated()">-->
<!--        This content is only shown to authenticated users.-->

<!--        User ID: <span th:text="${#authentication.principal.id}"/>-->
<!--        Username: <span th:text="${#authentication.principal.username}"/>-->
<!--        Email: <span th:text="${#authentication.principal.email}"/>-->
<!--    </div>-->
</nav>
</body>
<footer th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</footer>
</html>