
:root {
    --reddish: #961C1C;
    /*--greenish: #5D8B1F;*/
    --faded: #AE6D62;
    --lighter: #FFE5DC;
    /*--grayish: #89726e;*/
    --blueish: #8BA1FF;
}

html, body {
    background-color: var(--faded);
}

a {
    color: var(--reddish);
}

nav {
    background-color: var(--blueish);
}

.post {
    background-color: var(--lighter);
    color: black;
}