
:root {
    --reddish: #961C1C;
    /*--greenish: #5D8B1F;*/
    --faded: #AE6D62;
    --lighter: #FFE5DC;
    /*--grayish: #89726e;*/
    --blueish: #8BA1FF;
}

html, body {
    background-color: var(--faded);
}

a {
    color: var(--reddish);
}

a:hover {
    color: midnightblue;
    text-decoration: none;
}

nav {
    background-color: var(--blueish);
}

.post {
    background-color: var(--lighter);
    color: black;
}

.edit-delete {
    background: none;
    border: none;
    color: var(--reddish);
}

.edit-delete:hover {
    color: var(--blueish);
}

.edit-delete:focus {
    outline: none;
    box-shadow: none;
}

.search {
    background: none;
    border: none;
}

.search:hover {
    color: midnightblue;
}

.search:focus {
    outline: none;
    box-shadow: none;
}

.logout {
    background: none;
    border: none;
    color: var(--reddish);
}

.logout:hover {
    color: midnightblue;
}

.logout:focus {
    outline: none;
    box-shadow: none;
}